<p-growl [value]="msgs"></p-growl>
<div class='ui-g background'>
  <div class="ui-g-3 ui-sm-1 small">
  </div>
  <div class="ui-g-6 ui-sm-12 mainDiv">
    <div class="ui-g-12" style="text-align:center;">
      <h1 style="color:white">Admin login!</h1>
      <!--<img src="./assets/images/onesignal.png" width="100%" alt="not abilable">-->
    </div>
    <div class="ui-g-12 ui-g-nopad" style="padding: 45px 30px 45px 20px;background: rgba(80,80,80,0.5);">
      <form [formGroup]="loginForm">
        <div class="ui-g-12" style="position:relative">
          <input type="text" class="loginSize" pattern="[a-zA-z_.0-9]+@[a-zA-Z]+[.][a-zA-Z.]+" formControlName="email" pInputText placeholder="Email Address"
          />
          <span style="color: red;position: absolute;top: 90%;left: 7px;font-size: 13px;" *ngIf="loginForm.controls['email'].dirty&&loginForm.controls['email'].hasError('pattern')">*Invalid Email.</span>
          <span style="color: red;position: absolute;top: 90%;left: 7px;font-size: 13px;" *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].dirty">*Email Required.</span>

        </div>
        <div class="ui-g-12" style="margin-top:8px;position:relative;">
          <input type="password" formControlName="password" class="loginSize" pInputText placeholder="Password" />

          <!--<a   style="color:white;cursor:pointer;position:absolute;right:11px;top:45px"> Forgot your Password?</a>-->

          <span style="color: red;position: absolute;top: 90%;left: 7px;font-size: 13px;" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].dirty">*Password Required.</span>
        </div>
        <div class="ui-g-12" style="margin-top:8px">
          <button pButton type="button" (click)="onLogin()" [disabled]='loginForm.invalid' class="bttn1 hvr-bounce-in" id="btn" label="Sign In"></button>
        </div>
      </form>
    </div>
</div>
  <div class="ui-g-3 ui-sm-1 small">
  </div>
</div>