<p-growl [value]="msgs"></p-growl>
<div class="ui-g containerPage">
  <div class="ui-g-12 heading">
    <P>Edit sub category</P>
  </div>
  <div class="ui-g-12">
    <img src="./assets/images/Spinner.gif" class="loader" *ngIf="loader">
    <form [formGroup]="editForm">
      <div class='ui-g-12'>
        <div class='ui-g-12'>
          <div class="ui-g-2">

            <label>Category Name:</label>
          </div>
          <div class="ui-g-10">

            <p-dropdown [options]="categorylist" formControlName="categoryId"></p-dropdown>
          </div>

        </div>

        <div class='ui-g-12'>
          <div class="ui-g-2">

            <label>Sub Category Name:</label>
          </div>
          <div class="ui-g-10">

            <input type="text" formControlName="subCategoryName" pInputText />
          </div>

        </div>

        <div class='ui-g-12'>
          <div class="ui-g-2">
            <label>Priority:</label>

          </div>
          <div class="ui-g-10">

            <input type="text" formControlName="periority" pInputText />
          </div>

        </div>
        <div class='ui-g-12'>
          <div class="ui-g-2">
            <label>Active:</label>

          </div>
          <div class="ui-g-2">
            <p-dropdown [options]="active" formControlName="isActive"></p-dropdown>

          </div>

        </div>
        <div class='ui-g-12'>
          <div class="ui-g-2">

          </div>
          <div class="ui-g-10">
            <button pButton type="button" (click)="saveData()" [disabled]='editForm.invalid' label="Save"></button>
            <button pButton type="button" routerLink="/home/category" label="Cancel"></button>

          </div>
        </div>
      </div>
    </form>

  </div>
</div>