<div class="ui-g-12 heading">
  <P>Invoice Detail</P></div>


<div class="box-body table-responsive"  style="overflow-x:auto;">
  <table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">S.No</th>
        <th>OrderID</th>
        <th>Email</th>
        <th style="width: 290px;">Item Detail</th>
        <th>Status</th>
        <th>Mobile No</th>
        <th>Delivery Location</th>
        <th>Date</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
     </tbody>
  </table>
</div>
