<p>
  Add Tme Slot
</p>
<div class="row">
	<div class="col">
 <label for="text">Opening Hour:</label>
      <input type="email" class="form-control" placeholder="8:30am" name="email">
    </div>
		
	

	<div class="col">
		 <label for="text">Closing Hour:</label>
      <input type="email" class="form-control"  placeholder="8:30pm" name="email">
    
		
	</div>
	<div class="col">
		 <label for="text">Interval:</label>
      <input type="email" class="form-control" placeholder="30min" name="email">
    
	</div>

    
</div>

<div style="margin-top:30px; ">
<button type="submit" class="btn btn-primary">Save</button>
	
</div>


