<p>
  productlist works!
</p>
<div id="h2">
  <div class="topnav">
  <input type="text" placeholder="Search..">
</div>
</div>
<div class="box-body table-responsive" style="overflow-x:auto;">
  <table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Id</th>
        <th>Product name</th>
        <th>Category</th>
        <th>Image</th>
        <th>Status</th>
        <th>Inventory</th>
        <th>Price</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>99</td>
        <td>Pepsi</td>
        <td>Beverage</td>
        <td>picture</td>
        <td>
        
<label class="switch">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label>
</td>
<td>InStock</td>
<td>898</td>
        <td class="text-center">
        	<div class="btn-group">
           <a href="" class="btn btn-success"> <i class="fa fa-edit"></i></a>                                                        
           <a href="" class="btn btn-danger" onclick="return confirm('Are you sure delete?')">
           	<i class="fa fa-times"></i></a>                                                        
            </div>
           </td>
        <td>  </td>
        </tr>
    </tbody>
  </table>
</div>
