<div class="ui-g" style="background:#eee;">
<div class="top-nav">
    <div class="row" style="margin-left: 200px;padding-top: 25px;">
      <div class="col">
        <a routerLink="/home/notification">
          <p style="color: white;">Notifications</p>
        </a>
      </div>
      <div class="col">
        <a routerLink="/home/offers">
          <p style="color: white;">Offers </p>
        </a>

      </div>
      <div class="col">
        <a routerLink="/home/delivery">
          <p style="color: white;">DeliverySlot </p>
        </a>
      </div>
      <div class="col">
        <a routerLink="/home/invoice">
          <p style="color: white;">Invoice </p>
        </a>
      </div>
      <div class="col">
        <a routerLink="/home/profile">
          <p style="color: white;">Profile
          </p>
        </a>
      </div>
    </div>

 </div>


  <div class="side-nav">

    <div class="ui-g-12 container" style="padding: 20px 7px 7px 20px;"><img src="assets/images/icon_96.png" class="image" style="height:71px;" />
      <!--<i class="fa fa-align-justify"  style="margin-right: 5px;cursor:pointer;float: right;color: white;font-size: 24px;" (click)="icon_status()" aria-hidden="true"></i>-->
    </div>
    <!--<div class="ui-g-12 notificationDiv"><span routerLink="/sendpush-notification" style="cursor:pointer;color:#fff;"> 
     <button pButton type="button" class="bttn"    label="Send Notification"></button></span>
     </div>-->
    <div class="ui-g-12 navs" style="margin-top:10px" routerLink="/home/dashboard" routerLinkActive="active">
      <!--<i class="fa fa-th-large"   style="cursor:pointer;padding-right: 12px;"></i>-->
      <i class="fa fa-tachometer" style="cursor:pointer;padding-right: 5px;"></i>
      <span style="cursor:pointer;">Dashboard</span></div>

    <div class="ui-g-12 navs" style="margin-top:10px" routerLink="/home/product" routerLinkActive="active">
      <!--<i class="fa fa-th-large"   style="cursor:pointer;padding-right: 12px;"></i>-->
      <i class="fa fa-product-hunt" style="cursor:pointer;padding-right: 5px;"></i>
      <span style="cursor:pointer;">Products</span></div>

 <div class="ui-g-12 navs" style="margin-top:10px" routerLink="/home/category" routerLinkActive="active">
        <!--<i class="fa fa-th-large"   style="cursor:pointer;padding-right: 12px;"></i>-->
        <i class="fa fa-balance-scale" style="cursor:pointer;padding-right: 5px;"></i>
        <span style="cursor:pointer;">Category</span></div>

  <div class="ui-g-12 navs" style="margin-top:10px" routerLink="/home/userdata" routerLinkActive="active">
      <!--<i class="fa fa-th-large"   style="cursor:pointer;padding-right: 12px;"></i>-->
      <i class="fa fa-file" style="cursor:pointer;padding-right: 5px;"></i>
      <span style="cursor:pointer;">UserData</span>
    </div>
   
    <div class="ui-g-12 navs" style="margin-top:10px" routerLink="/home/adddist" routerLinkActive="active">
      <!--<i class="fa fa-th-large"   style="cursor:pointer;padding-right: 12px;"></i>-->

      <i class="fa fa-user-plus" style="cursor:pointer;padding-right: 5px;" aria-hidden="true"></i>
      <span style="cursor:pointer;">Add Admin</span>
    </div>

  <div class="ui-g-12 navs" style="margin-top:10px" routerLink="/home/addslider" routerLinkActive="active">
      <!--<i class="fa fa-th-large"   style="cursor:pointer;padding-right: 12px;"></i>-->

      <i class="fa fa-space-shuttle" style="cursor:pointer;padding-right: 5px;" aria-hidden="true"></i>
      <span style="cursor:pointer;">Add HomeSlider</span>
    </div>

 <div class="ui-g-12 navs" style="margin-top:10px" routerLink="/home/order" routerLinkActive="active">
      <!--<i class="fa fa-th-large"   style="cursor:pointer;padding-right: 12px;"></i>-->

      <i class="fa fa-space-shuttle" style="cursor:pointer;padding-right: 5px;" aria-hidden="true"></i>
      <span style="cursor:pointer;">Order</span>
    </div>

    
    <div class="ui-g-12 navs" (click)="Logout()" routerLinkActive="active" style="margin-top: 5px">
      <i class="fa fa-power-off" style="cursor:pointer;padding-right: 5px;"></i>
      <span style="cursor:pointer;">Logout</span></div>
  </div>
  <div class="ui-g-9"  style="background: #eee;margin-bottom:115px;margin-top: 115px;margin-left:18%;width:100%;padding:0px;margin-right: 2%">
    <!--  =====================change password html ============-->

    <!--  =====================change password html ============-->
    <router-outlet></router-outlet>
  </div>


</div>
