<div class="ui-g-12 heading">
    <P>Add Society</P>
       
  <div class="row">
    <div class="col-sm-4" style="">
  <form action="">

<div class="form-group">
      <label for="email" style="font-size: 16px;">Society Name:</label>
      <input type="email" class="form-control" id="email" placeholder="Society Name" name="email">
    </div>


    <div class="form-group">
      <label for="pwd" style="font-size: 16px;" >Pincode/Areacode:
      </label>
      <input type="password" class="form-control" id="pwd" placeholder="201306" name="pwd">
    </div>


    <div class="form-group">
      <label for="pwd" style="font-size: 16px;" >Delivery Charges:</label>
      <input type="password" class="form-control" id="pwd" placeholder="20" name="pwd">
    </div>



    <button type="submit" class="btn btn-primary" style="font-size: 16px;">Add Society</button>
  </form>
      
    </div>
  

    <div class="col-sm-6" style="border-left: 2px solid #2c5477;margin-left: 70px;">



<div class="box-body table-responsive"  style="overflow-x:auto;">
  <table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th style="font-size: 16px;" class="text-center">Id </th>
        <th style="font-size: 16px;">Society Name</th>
        <th style="font-size: 16px;">Pincode</th>
        <th style="font-size: 16px;">Delivery Charges</th>
        <th style="font-size: 16px;">Status</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
        
<label class="switch">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label>
</td>
    </tbody>
  </table>
</div>      
    </div>
  </div>
</div>

